/***************************************************************
                            SECTION(#bars)                         
***************************************************************/
/************************************
              nav_bar
************************************/
#nav_bar{
    display: flex;
    flex-direction: row;
	justify-content: center;
    background-color: var(--less);
    box-shadow: 0px 2px var(--most);
	position: fixed;
	width: 100%;
	top: 0px;
}
#nav_bar a{
    color: var(--p);
    padding: 30px 0px;
    font-size: 12pt;
    font-weight: bold;
    min-width: 12%;
    text-align: center;
}
#nav_bar a:hover:not(#current){
    color: var(--less);
    background-color: var(--most);
}
#current{
    background-color: var(--most);
}
/***************************************************************
                            media queries                           
***************************************************************/
@media screen and (max-width: 700px){
/************************************
              nav_bar
************************************/
	#nav_bar{flex-direction: row;flex-wrap: wrap; padding: 0px;}
	#nav_bar a{padding: 15px;}
}