/***************************************************************
                         footer                       
***************************************************************/
footer{
	background-color: rgb(51, 51, 53);
	height: 120px;
	position: static;
	width: 100%;
	bottom: 0;
	border-top: 1px var(--most) solid;
}
footer div{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	height: 100%;
}
#theme_designer{
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}
#footer_nav{
	display: flex;
	flex-direction: column;	
}
#footer_nav a{
	padding: 10px;
	color: var(--p);
}
/***************************************************************
                         footer                       
***************************************************************/
@media screen and (max-width: 700px){
	footer{	height: 200px; padding: 20px;}
	footer div{; flex-direction: column-reverse; justify-content: center; align-items: center; height: 90%;}
}